<?xml version="1.0" encoding="utf-8" ?>
<Languages>
  <Language From="SQL" To="C#">
    <Type From="bigint" To="System.Int64" />
    <Type From="binary" To="System.Byte[]" />
    <Type From="bit" To="System.Boolean" />
    <Type From="char" To="System.String" />
    <Type From="date" To="System.DateTime" />
    <Type From="datetime" To="System.DateTime" />
    <Type From="datetime2" To="System.DateTime" />
    <Type From="datetimeoffset" To="System.DateTimeOffset" />
    <Type From="decimal" To="System.Decimal" />
    <Type From="float" To="System.Double" />
    <Type From="image" To="System.Byte[]" />
    <Type From="int" To="System.Int32" />
    <Type From="money" To="System.Decimal" />
    <Type From="nchar" To="System.String" />
    <Type From="ntext" To="System.String" />
    <Type From="numeric" To="System.Decimal" />
    <Type From="nvarchar" To="System.String" />
    <Type From="real" To="System.Single" />
    <Type From="rowversion" To="System.Byte[]" />
    <Type From="smalldatetime" To="System.DateTime" />
    <Type From="smallint" To="System.Int16" />
    <Type From="smallmoney" To="System.Decimal" />
    <Type From="text" To="System.String" />
    <Type From="time" To="System.TimeSpan" />
    <Type From="timestamp" To="System.Byte[]" />
    <Type From="tinyint" To="System.Byte" />
    <Type From="uniqueidentifier" To="System.Guid" />
    <Type From="varbinary" To="System.Byte[]" />
    <Type From="varchar" To="System.String" />
    <Type From="xml" To="System.Xml.XmlDocument" />
    <Type From="sql_variant" To="System.Object" />
  </Language>
</Languages>